<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>formulario</title>
    </head>
    <body>
        <section>
            <form action="link">
            <div>
                <label for="Nombre">Nombre:</label>
                <input type="text">
                <input type="submit">
                <input type="reset" value="Borrar"> 
            </div>
            <div>
                <label for="Apellido">Apellido:</label>
                <input type="text">
                <input type="submit">
                <input type="submit" value="Borrar"> 
            </div>
            <div>
                <label for="Edad">Edad:</label>
                <input type="text">
                <input type="submit">
                <input type="submit" value="Borrar">
            </div>
            <div>
                <label for="Fecha de nacimiento">Fecha de nacimiento</label>
                <input type="text">
                <input type="submit">
                <input type="submit" value="Borrar">
            </div>
            <div>
                <label for="Genero">Genero:</label>
                <select name="Genero" id="Genero">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Otro">Otro</option>
                    <option value="Prefiero no decirlo">Prefiero no decirlo</option>
                </select>
            </div>
            <div>
                <p>A que area queres desarrollarte?</p>
                <input type="radio" id="App web" name="area" value="App web">
                <label for="App web"> App web</label>
            </div>
            <div>
                <input type="radio" id="Analisis de datos" name="area" value="Analisis de datos">
                <label for="Analisis de datos">Analisis de datos</label>
            </div>
            <div>
                <input type="radio" id="Desarrollo de juegos" name="area" value="Desarrollo de juegos">
                <label for="Desarrollo de juegos">Desarrollo de juegos</label>
            </div>
            <div>
                <p>Selecciona lenguaje:</p>
                <input type="checkbox" id="Html" name="Lenguaje" value="Html">
                <label for="Html">Html</label>
            </div>
            <div>
                <input type="checkbox" id="Css" name="Lenguaje" value="Css">
                <label for="Css">Css</label>
            </div>
            <div>
                <input type="checkbox" id="Java Spript" name="lenguaje" value="Java script">
                <label for="Java script">Java script</label>
            </div>
            </form>
        </section>
    </body>
</html>