<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>galeria</title>
</head>
<body>
    <section>
    <h1>Imagenes</h1>
        <figure>
        <a href="https://http2.mlstatic.com/D_Q_NP_2X_604344-MLA83518483699_042025-V.webp" target="_blank">  
        <img src="https://http2.mlstatic.com/D_Q_NP_2X_604344-MLA83518483699_042025-V.webp" alt="Galletitas pepas">
        </a>
        <figcaption>
            <strong>galletitas pepas:</strong> 
            <em>Son unas de mis galletitas favoritas</em>
        </figcaption>
        </figure>
    </section>
</body>
</html>