<!DOCTYPE html>
<html lang="es">
    <head>
        <title>index</title>
    </head>
    <body>
        <header>
        <h3>Estos enlaces te llevan a:</h3>
        <ul>
            <li><a href="index.html">index</a></li>
            <li><a href="galeria.html">galeria</a></li>
            <li><a href="tabla.html">tabla</a></li>
            <li><a href="listas.html">listas</a></li>
            <li><a href="https://www.google.com" target="_blank">Google</a></li>
        </ul>
        </header>
        <main>
            <section>
                <h2>Bienvenidos</h2>
                <p>Este es el contenido principal de mi pagina</p>
            </section>
            <section>
                <p>Soy un chico de 19 años que estudia programacion</p>
                <img src="galletitas.png" alt="Mis galletitas favoritas" width="300">
                <p><mark><i><strong><h4><b><u><br>Las galletitas Tortitas Black combinan sabor intenso, textura crujiente y chocolate oscuro, creando una experiencia irresistible en cada bocado.</u></b></h1></strong></i></mark></p>
            </section>
        </main>
        <footer>
        </footer>
    </body>
</html>