<!DOCTYPE html>
<html lang="es">
    <head>
        <title>index</title>
    </head>
    <body>
        <header>
        <h3>Estos enlaces te llevan a:</h3>
        <ul>
            <li><a href="index.html">galeria</a></li>
            <li><a href="galeria.html">galeria</a></li>
            <li><a href="tabla.html">tabla</a></li>
            <li><a href="https://www.google.com" target="_blank">Google</a></li>
        </ul>
        </header>
        <main>
            <section>
            <div>
                <h2>Bienvenidos</h2>
                <p>Este es el contenido principal de mi pagina</p>
            </div>
                <div>
                <p>Soy un chico de 19 años que estudia programacion</p>
                <img src="galletitas.png" alt="Mis galletitas favoritas" width="300">
                </div>
            </section>
            <section>
                <p><mark><i><strong><h6><b> <u><br>Las Tortitas Black son galletitas dulces, crujientes y rellenas de crema de chocolate. Su sabor intenso y textura suave las hace irresistibles. Perfectas para acompañar café, té o compartir con amigos y familia</u></b></h6></strong></i></mark></p>               
            </section>
        </main>
        <footer>
            <p>2025 Mi Sitio Web - Todos los derechos reservados</p>
        </footer>
    </body>
</html>