<!DOCTYPE html>
<html lang="es"
<head>
    <meta charset="UFT-8">
    <title>tabla</title>
    <link rel="stylesheet" href="tabla.css">
</head>
<body>
    <section class="class="container-s1"">
        <audio src="audio.mp3" controls class="miaudio"></audio>
        <video  autoplay muted controls src="video.mp4" controls witdh="400" height="300"></video>
    </section>
    <section class="container-s2">
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.4597059146727!2d-60.65334482346096!3d-32.93887037149738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab388eccf8cd%3A0x6159443fcd0809fe!2sBalcarce%20366%2C%20S2000%20Rosario%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1756479446446!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div>
            <iframe width="1905" height="782" src="https://www.youtube.com/embed/ELSm-G201Ls" width="400" height="450"></iframe>
        </div>
    </section>
    

    <section>
        <table>
            <tr>
                <th>dias</th>
                <th>mes</th>
            </tr>
        </table>
    </section>
</body>
</html>