<!DOCTYPE html>
<html lang="es"
<head>
    <meta charset="UFT-8">
    <title>tabla</title>
</head>
<body>
    <section>
        <h1>Lista ordenada</h1>
        <ol>
            <li>aca van cosas ordenadas</li>
        </ol>
    </section>
    <section>
        <h1>Lista desordenada</h1>
        <ul>
            <li>aca van cosas desordenadas</li>
        </ul>
    </section>
    <section>
        <h1>Lista pro definicion</h1>
        <dl>
            <dt>C</dt>
            <dt>es un lenguaje muy poderoso, sirve para back</dt>
        </dl>
    </section>
    <section>
        <h1>Lista dependiente</h1>
        <ul>
            <li>aca van cosas dependiente de otras</li>
        </ul>
    </section>
</body>